[Unit]
Description=Periodically apply XFS project quotas for Coder workspaces

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
